main {
    display: grid;
    grid-template-columns: repeat(3, 200px); /* Use repeat() for cleaner code */
    grid-gap: 0px;
    justify-content: center; /* Horizontally center the grid */
    align-items: center; /* Vertically center the grid */
    width: 550px; /* Set a fixed width for the grid (adjust as needed) */
    margin: 0 auto; /* Center the grid within its container */
    padding: 4px; /* Add some padding for spacing */
  }
  
  app-square {
    border: 1px solid black; /* Simplify border property */
    height: 170px;
    display: flex;
    justify-content: center; /* Horizontally center the content in the square */
    align-items: center; /* Vertically center the content in the square */
    font-size: 24px; /* Adjust the font size as needed */
  }
  /* Add your custom styles here */

  header {
    color: #fff;
    text-align: center;
    padding: 0px 0;
  }
  
  .current-player {
    font-size: 24px;
    margin-bottom: 2px;
    margin-top:-70px
  }
  
  .new-game-button {
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 2px;
  }
  
  .winner-text {
    font-size: 24px;
    color: green;
    margin-top: 1px;
  }
  
  .draw-message {
    font-size: 24px;
    color: #ff5733; /* Customize the color for the draw message */
    margin-top: 1px;  
}
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* You can adjust this for the desired height */
  }